@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
.App {
  text-align: center;
}
img {
  max-width: 400px;
}
h1 {
  font-family: "Arizonia", cursive;
  font-size: 80px;
}

p {
  font-family: "Arizonia", cursive;
  font-size: 40px;
}
